/* Other rules */

.form h1 {
  text-align: center;
}
.result-detail p {
  margin: 5px;
}

/* gerer le depassement du titre */
.result-detail h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /*mets "..." si trop long*/
  margin: 5px;
}

/****************NAVIGATION*********/
.header span {
  margin-left: 50px;
  cursor: pointer;
}
/*********HEADER********/
.logo {
  width: 180px;
}
.header {
  height: 60px;
  border-bottom: 5px solid #8f6acd;
}

/****************CONTAINER************/
.resto-container {
  width: 1280px;
  margin: 10px auto auto;
}
.resto-infos {
  width: 300px;
  height: 530px;
  margin-right: 40px;
}
.resto-detail {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.food-infos {
  width: 300px;
  height: 460px;
  margin-right: 40px;
}
.juice-infos {
  width: 300px;
  height: 400px;
  margin-right: 40px;
}
.form-container {
  position: relative;
  color: white;
}
.form {
  position: absolute;
  top: 80px;
  left: 277px;
}

.resto {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.restaurant {
  display: flex;
  flex-wrap: wrap;
}
.resto-title {
  display: flex;
  justify-content: space-between;
}
.result-container {
  width: 705px;
  display: flex;
  flex-wrap: wrap;
}
.result-detail {
  width: 200px;
  height: 235px;
  border: 2px solid grey;
  margin: 10px auto;
  padding: 10px;
}
.hover-result {
  display: none;
}
/****************HOVER***********/

.result-detail:hover .hover-result {
  display: block;
  background-color: white;
  position: absolute;
  width: 200px;
  height: 245px;
  text-align: center;
}
/* .result-detail:hover .hover-result p {
  display: flex;
  justify-content: center;
} */

.result-detail:hover .hover-result p:nth-child(2) {
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

/* .result-detail:hover .hover-result h3 {
  display: flex;
  justify-content: center;
} */
/***************IMAGE***************/
.photo-resto {
  width: 270px;
  height: 175px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px auto 10px 15px;
}
.image-accueil {
  margin-bottom: 50px;
  height: 300px;
  width: 100%;
}
.photo-result {
  width: 200px;
  height: 140px;
  object-fit: cover;
}
/********************INPUT*********/

.form input {
  width: 620px;
  height: 40px;
  outline: none; /* retire la bordure bleue de l'input */
}
.form button {
  height: 46px;
  width: 56px;
  background-color: #8f6acd;
  color: white;
}
/***********************FOOTER****************/
.footer {
  margin-top: 50px;
  height: 65px;
  background-color: rgb(123, 78, 195);
  color: white;
  display: flex;
  justify-content: center;
}
