/* Other rules */

.form h1 {
  text-align: center;
}
.result-detail p {
  margin: 5px;
}
a {
  color: black;
  text-decoration: none;
}
/* gerer le depassement du titre */
.result-detail h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /*mets "..." si trop long*/
  margin: 5px;
}
.form-container h1 {
  font-size: 36px;
}
.marker {
  font-size: 50px;
}
/****************NAVIGATION*********/
.header span {
  margin-left: 50px;
  cursor: pointer;
}
/*********HEADER********/
.logo {
  width: 180px;
}
.header {
  height: 60px;
  border-bottom: 5px solid #8f6acd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/****************CONTAINER************/
.resto-container {
  width: 1280px;
  margin: 10px auto auto;
}
i .resto-infos {
  width: 300px;
  height: 430px;
  margin-right: 40px;
}
.resto-detail {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.food-infos {
  width: 300px;
  height: 460px;
  margin-right: 40px;
}
.juice-infos {
  width: 300px;
  height: 400px;
  margin-right: 40px;
}
.form-container {
  position: relative;
  color: white;
}
.form {
  position: absolute;
  top: 80px;
  left: 580px;
}

.resto {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.restaurant {
  display: flex;
  flex-wrap: wrap;
}
.resto-title {
  display: flex;
  justify-content: space-between;
}
.result-container {
  width: 705px;
  display: flex;
  flex-wrap: wrap;
}

.result-detail {
  width: 200px;
  height: 235px;
  border: 2px solid grey;
  margin: 10px auto;
  padding: 10px;
}
.hover-result {
  display: none;
}
/****************HOVER***********/

.result-detail:hover .hover-result {
  display: block;
  background-color: white;
  position: absolute;
  width: 200px;
  height: 245px;
  text-align: center;
}
/* .result-detail:hover .hover-result p {
  display: flex;
  justify-content: center;
} */

.result-detail:hover .hover-result p:nth-child(2) {
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

/* .result-detail:hover .hover-result h3 {
  display: flex;
  justify-content: center;
} */
/***************IMAGE***************/
.photo-resto {
  width: 270px;
  height: 175px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px auto 10px 15px;
}
.image-accueil {
  margin-bottom: 50px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.photo-result {
  width: 200px;
  height: 140px;
  object-fit: cover;
}
/********************INPUT*********/

/* .form input {
  width: 620px;
  height: 40px;
  outline: none; /* retire la bordure bleue de l'input */
/*} */
.form button {
  height: 56px;
  width: 56px;
  background-color: #8f6acd;
  color: white;
  margin-top: 10px;
}
.serach-input {
  width: 250px;
}
/***********************FOOTER****************/
.footer {
  margin-top: 50px;
  height: 65px;
  background-color: rgb(123, 78, 195);
  color: white;
  display: flex;
  justify-content: center;
}
/**************Page Detail*********/
.detail-title {
  background-color: #8f6acd;
  color: white;
  height: 100px;
}
.detail-title h1 {
  margin-left: 140px;
  padding-top: 15px;
}
.container-detail {
  width: 1200px;
  height: 800px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: auto;
}
.description-detail {
  width: 768px;
  height: 800px;
}
.icons-detail {
  width: 768px;
  height: 72px;
  margin-top: 30px;
  display: flex;
}

.map-detail {
  width: 384px;
  height: 600px;
  border: 1px solid pink;
}
.icons-detail h3 {
  margin: 5px 0 5px 0;
}
.photos-details img {
  width: 240px;
  height: 225px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 24px;
}
.photos-details {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.button-detail button {
  width: 150px;
  height: 50px;
  margin: 65px 10px 30px 0;
  background-color: #8f6acd;
  color: white;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}
.icons-button {
  margin-right: 10px;
}
.icons-header {
  margin-right: 20px;
}
.phone-detail {
  margin-right: 50px;
}
/******MODAL*********************************/
* .button {
  /* margin-left: 700px; */
  width: 100px;
  height: 45px;
  font-size: 20px;
  background-color: #8f6acd;
  color: white;
  border-radius: 5px;
  display: flex;
  outline: none;
  align-items: center;
}
.button-header {
  display: flex;
  justify-content: flex-end;
  width: 150px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.wrapper {
  height: 600px;
  width: 700px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 900; /*permets de resoudre le problème de position du modal sur la page home*/
  /* centrer le modal sur l'axe x (longueur) et sur l'axe y (hauteur) */
  transform: translate(-50%, -50%);
}
.close {
  position: absolute;
  right: 10px;
  top: 150px;
}
/*****************FORM**************/
form {
  width: 300px;
  /* height: 400px; */
  display: flex;
  /* flex-direction: column; */
  margin-left: 10px;
}
.form-modal,
.form-register {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
input,
.container-form button,
.register,
select {
  width: 250px;
  height: 50px;
  margin: 10px 0;
  outline: none;
}

.container-form button {
  border-radius: 5px;
}

.container-form {
  display: flex;
  height: 400px;
}
.wrapper h3 {
  text-align: center;
  margin-top: 30px;
}
.logo-modal {
  display: flex;
  justify-content: center;
}
.logo-modal img {
  height: 35px;
  width: 125px;
  margin: 5px 5px 5px;
  border-radius: 5px;
}
.login {
  font-size: 20px;
  background-color: rgb(123, 78, 195);
  color: white;
}
.register {
  background-color: black;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  border-radius: 5px;
}
.image-modal img {
  width: 390px;
  height: 465px;
}
/*pagination*/
.pagination {
  display: flex;
  justify-content: center;
}
.resto-container button {
  width: 30px;
  height: 40px;
  margin-right: 15px;
  border: none;

  outline: 0;
}
.resto-container button:focus {
  background-color: rgb(123, 78, 195);
  color: white;
}
/********************page register************/
.container-register {
  display: flex;
}
.form-register {
  width: 600px;
  height: 800px;
  margin-left: 10px;
}
@media (min-width: 100px) and (max-width: 610px) {
  .form {
    position: absolute;
    top: 80px;
    left: 5px;
  }
  .wrapper {
    width: 400px;
  }

  .image-register {
    width: 10%;
  }
  .wrapper-register {
    background-color: white;
  }
  input,
  select,
  .login {
    width: 200px;
    height: 30px;
  }
  .form-register {
    width: 60%;
  }
}
