/* Other rules */

.form h1 {
  text-align: center;
}
/****************NAVIGATION*********/
.header span {
  margin-left: 50px;
  cursor: pointer;
}
/*********HEADER********/
.logo {
  width: 180px;
}
.header {
  height: 60px;
  border-bottom: 5px solid #8f6acd;
}

/****************CONTAINER************/
.resto-container {
  width: 1280px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin: 10px auto auto;
}
.resto-infos {
  /* border: 2px solid grey; */
  width: 300px;
  height: 530px;
  margin-right: 40px;
}
.resto-detail {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.food-infos {
  width: 300px;
  height: 460px;
  margin-right: 40px;
}
.juice-infos {
  width: 300px;
  height: 400px;
  margin-right: 40px;
}
.form-container {
  position: relative;
  color: white;
}
.form {
  position: absolute;
  top: 80px;
  left: 277px;
}

.resto {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
.restaurant {
  display: flex;
  flex-wrap: wrap;
}
.resto-title {
  display: flex;
  justify-content: space-between;
}
/***************IMAGE***************/
.photo-resto {
  width: 270px;
  height: 175px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px auto 10px 15px;
}
.image-accueil {
  margin-bottom: 50px;
  height: 300px;
  width: 100%;
}
/********************INPUT*********/

.form input {
  width: 620px;
  height: 40px;
}
.form button {
  height: 46px;
  width: 56px;
  background-color: #8f6acd;
  color: white;
}
/***********************FOOTER****************/
.footer {
  margin-top: 50px;
  height: 65px;
  background-color: rgb(123, 78, 195);
  color: white;
  display: flex;
  justify-content: center;
}
